.switch{
  margin: 0 1rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.toggle {
  border-radius: 0.75rem;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: hsl(223, 50%, 87%);
}

.toggle:before {
  position: absolute;
  content: "";
  height: calc(1.5rem - 8px);
  width: calc(1.5rem - 8px);
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:hover {
  background-color: hsl(174, 77%, 80%);
}

input:checked + .toggle {
  background-color: hsl(174, 77%, 80%);
}

input:focus + .toggle {
  box-shadow: 0 0 1px hsl(174, 77%, 80%);
}

input:checked + .toggle:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}
